
body {
  background: #1c1a19;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url(mobile-version-images/illustration-header-mobile.png);
  background-repeat: no-repeat;
  background-position: 280px 420px;
}

header {
  background-color: #3c3a39;
  height: 20px;
  padding: 30px 20px;
  width: 100%;
}

.my-logo {
  display: inline-block;
  justify-content: space-between;
  margin-left: 300px;
}

a {
  
  color: #fff;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 18px;
}

.name {
  color: #ff6b00;
  font-size: 56px;
  font-family: 'Crete Round', sans-serif;
}

.work {
  color: #fff5e1;
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
}

.do_what {
  color: #fff;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  width: 90%;
}

.list {
  display: flex;
  list-style: none;
  margin-left: -30px;
}

.icon1 {
  margin-right: 15px;
}

/* .last-image {
  transform: translateX(19rem);
  margin-top: -14rem;
} */

.section-one {
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}
